*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
  background-image: url('background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h4{
  color: var(--color-text-header);
  text-align: center;
  font-weight: bold;
}

.required > label::after {
  content: ' *';
  color: red;
}

.navbar a {
  color: var(--color-tertiary);
}

.navbar .active {
  color: var(--color-primary) !important;
  font-weight: 510;
}