:root {
    --color-primary: #f00;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
    --color-title: #999393;
    --color-text-header: hsl(0, 1%, 16%);
    --font-family: 'Lato', sans-serif;
}