#items {
  .card {
    height: 100px;
    padding: 0.5em 35px;
    border: none;
    color: white;
  
    /* background-color: rgba(243, 248, 252, 0.664); */
    background: radial-gradient(at 100% 0, #038af8, #4eacfa, #e9f3fc 100%);
    position: relative;

    .buttons {
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;

      .btn {
        margin: 0;
        border: none;
        border-radius: 0;
        color: white;
      }

      button {
        background-color: rgba(255, 0, 0, 0.89);

        &:hover {
          background-color: rgba(255, 0, 0, 0.452);
        }
      }

      a {
        background-color: rgba(0, 64, 255, 0.89);

        &:hover {
          background-color: rgba(0, 64, 255, 0.33);
        }
      }
    }
  }
}

.col-lg-3 {
  padding: 0;
}

.row > .col-2 {
  padding: 0;
  margin: 0;
}
